
ul.slimmenu li a:hover,
ul.slimmenu li a.mPS2id-highlight,
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a:hover,
.cbp-af-header.cbp-af-header-shrink ul.slimmenu li a.mPS2id-highlight,
#royal_preloader.royal_preloader_number .royal_preloader_percentage:after,
.menu > ul > li a:hover,
.menu > ul > li > ul > li p span,
.menu > ul > li > ul > li a span,
.menu > ul > li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a.curent-multi-page,
.menu.light > ul > li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu.light > ul > li a.curent-multi-page,
.error,
.menu a span.link-icon,
.menu > ul > li > ul.normal-sub li a.subtitled,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub li a.subtitled,
.logo-down-wrap .logo-down-icon,
.about-wrap .about-icon,
.menu.light > ul > li a.social:hover,
.cbp-af-header.cbp-af-header-shrink .menu.light > ul > li a.social:hover,
.menu > ul > li a.social:hover,
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a.social:hover {
    color: rgb(0, 173, 239) !important;
}
/*
#royal_preloader.royal_preloader_progress .royal_preloader_meter,
.list-social-footer li:hover,
#cd-zoom-in, #cd-zoom-out,
#ajax-form button:hover,
#owl-slider.owl-theme .owl-controls .owl-page span:hover,
#owl-slider.owl-theme .owl-controls .owl-page.active span,
.home-buttons-wrapper a.button-effect:hover,
.home-buttons-wrapper .button--moema {
	background-color: #ff4081;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid #ff4081;
}
.menu.light #ajax-form textarea:focus,
.menu.light #ajax-form input:focus,
.menu.light #ajax-form textarea:active,
.menu.light #ajax-form input:active {	
	border-bottom:1px solid #ff4081;
}


::selection {
	background: #ff4081;
}
::-moz-selection {
	background: #ff4081;
}

*/






















